<head>
    <title>My Ingredients</title>
    <!--<link rel="stylesheet" href="style.css">-->
  </head>
  <body>
    <main>
      <h1>My Ingredients</h1>
      <form>
        <label for="ingredient-input">Add an Ingredient:</label><br>
        <input type="text" id="ingredient-input" name="ingredient-input"><br>
        <button type="submit">Add</button>
      </form>
      <div class="ingredient-list">
        <h2>Current Ingredients:</h2>
        <ul>
          <li>Ingredient 1</li>
          <li>Ingredient 2</li>
          <li>Ingredient 3</li>
        </ul>
      </div>
    </main>
  </body>